.switch{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5rem;
  background-color: white;
  width: fit-content;
  height: fit-content;
  
  &-btn{
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid palevioletred;
  border-radius: 5rem;
  box-shadow: 0px 0px 2px 3px palevioletred;
  
  }
  
  &-lang{
  
  margin:0 .5rem;
  
  }
  
  
  }
  
  