.item{
  width: 7rem;
  height: 7rem;
  font-size: 3.5rem;
  border:5px solid palevioletred;
  background: white;
  margin: 1rem .1rem;
  border-radius: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}