.greating{
  height: 6rem;
  display: flex;
  align-items: center;
}


.items{
  display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
overflow: auto;
background: rebeccapurple;
height: calc(100vh - 8rem);
width:100%;
}